// color definition
$bg-color: blue;
$font-color: white;
$error-color: red;

// loading indicator configuration
$loading-indicator-square-color-fst: #333;
$loading-indicator-square-color-snd: #666;
$loading-indicator-square-color-trd: #999;