<!Doctype>
<html>
<head>
  <title>Simple Test</title>
  <link rel="stylesheet" href="../dist/css/master.css">
</head>
<body>
  
  <%= hideItHtml %>
  
<div>
  <h1>The Page content</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea maiores perspiciatis nulla repudiandae, illum saepe praesentium deserunt minus, veritatis harum, eveniet nesciunt quaerat rerum fugit earum excepturi voluptates et ullam.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea maiores perspiciatis nulla repudiandae, illum saepe praesentium deserunt minus, veritatis harum, eveniet nesciunt quaerat rerum fugit earum excepturi voluptates et ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem laudantium eos sed iste iure, incidunt, modi, velit laborum totam in mollitia natus cupiditate atque doloribus veniam fuga beatae! Voluptatem, animi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quidem nemo quod placeat minima, autem quasi provident quam hic ducimus et, eum porro animi. Ipsa nobis explicabo officiis? Ex, repudiandae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea maiores perspiciatis nulla repudiandae, illum saepe praesentium deserunt minus, veritatis harum, eveniet nesciunt quaerat rerum fugit earum excepturi voluptates et ullam.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea maiores perspiciatis nulla repudiandae, illum saepe praesentium deserunt minus, veritatis harum, eveniet nesciunt quaerat rerum fugit earum excepturi voluptates et ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptatem quae perspiciatis non earum eum, libero sit unde. Fuga quidem, recusandae labore iure ullam. Porro perferendis, nesciunt sapiente delectus tempora?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea maiores perspiciatis nulla repudiandae, illum saepe praesentium deserunt minus, veritatis harum, eveniet nesciunt quaerat rerum fugit earum excepturi voluptates et ullam.</p>

</div>

  <!-- load js at the end -->
  <script type="text/javascript" src="../src/hide-it.js"></script>
  <script type="text/javascript">
    <%= usage %>

    // just for demonstration purposes. trigger loaded() function from your application ready event 
    setTimeout(function() {
      hide.loaded();
    }, 5000);

  </script>
</body>
</html>