@import "base.scss";
@import "mixins.scss";
@import "spinner.scss";

// Splashscreen
#hide-it {
  @include splashscreen();
  
  text-align: center;

  background: $bg-color;
  color: $font-color;
  font-family: $font-family;

  // Logo
  img {
    width: 80%;
    max-width: 600px;
    display: inline-block;
    margin: 1em auto;
  }
  
  .hide-container {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
  }

  .hide-accept {
    background-color: #FF4040;
    border: none;
    color: #FFF;
    font-size: 1.5em;
    padding: 0.3em 1em;
    margin: 1em;
    cursor: pointer;
  }

  // the close button at the top right corner
  .hide-close {
    position: absolute;
    top: $close-btn-padding;
    right: $close-btn-padding;

    text-decoration: none;
    color: $font-color;

    &:hover {
      cursor: pointer;
    }
  }
}

@include tile-spinner('hide-loading-indicator');