@import "base.scss";
@import "mixins.scss";

// Splashscreen
#hide-it {
  @include splashscreen();
  
  text-align: center;

  background: $bg-color;
  color: $font-color;
  font-family: $font-family;

  // the close button at the top right corner
  .hide-close {
    position: absolute;
    top: $close-btn-padding;
    right: $close-btn-padding;

    text-decoration: none;
    color: $font-color;

    &:hover {
      cursor: pointer;
    }
  }
}
