<!Doctype>

<html>
<head>
  <title>A Simple Example</title>
  <style>
    <%= style %>
  </style>
</head>
<body>
  
  <div id="hide-it">
    <a href="#" class="hide-close">Close</a>
    
    <div class="hide-wrapper">
      <h1 class="hide-title">The Title</h1>
      
      <div id="hide-loading-indicator">
        Loading...
      </div>

      <p class="hide-content">Content</p>

      <button class="hide-accept">Accept</button>
    </div>
  </div>  
  
  <script type="text/javascript">
    <%= javascript %>
  </script>

  <script type="text/javascript">
    hide.config.language.de = {
      'title' : 'Herzlich Willkommen!'
    };

    hide.init();

    // just for demonstration purposes. trigger loaded() function from your application ready event 
    setTimeout(function() {
      hide.loaded();
    }, 5000);
  </script>
</body>
</html>